<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vip.file.mapper.UserLoginMapper">
   <select id="getUserInformation" resultType="com.vip.file.model.vo.UserLoginVO">
       select id as user_id,user_name from  video_user
           <where>
               <if test="userName != null and userName != ''">
                   user_name=#{userName}
               </if>
               <if test="password != null and password != ''">
                   and password =#{password}
               </if>
       </where>
   </select>
    <update id="updatePassword">
        update video_user
        <set>
            password =#{userDTO.newPassword}
        </set>
        <where>
            id=#{userDTO.id}
        </where>
    </update>
    <select id="getUserOldPassword" resultType="java.lang.Integer">
        select count(*) from video_user
        <where>
            id=#{id}
            and
            password =#{oldPassword}
        </where>
    </select>
</mapper>